<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bank installed equipment</title>
<link rel="stylesheet" href="/css/bankinfo.css" />
<link href="css/styles.css" rel="stylesheet" />
<script src="/js/interfacing.js" defer></script>
<script src="/js/installequipmentview.js" defer></script>
</head>
<body>
  <nav class="topnav">
    <!-- Navbar Brand-->
    <div class="pagetitle">Systel Bank Project</div>
    <!-- Navbar-->
    <a class="active" href="/">Home</a>
    <a href="/installedequip">installed equipment</a>
  </nav>

<h3>Equipment Form</h3>

<div class="container">
  <form id="installeqipment">
    <label for="equipmentname">equipment Name</label>
    <select name="equipmentname" id="equipmentname">
       <option value="">Select One equipment …</option>
        <option value="SM">SM</option>
        <option value="PTP">PTP</option>
        <option value="AP">Access Point</option>
        <option value="SW">switch</option>
        <option value="camera">camera</option>
    </select>
    <label for="bankname"><%= label %></label>
    <select name="bankname" id="bankname">
      <option value="">Select One Bank …</option>
      <% for(let bank of Banks) { %>
        <option value="<%= bank.Bank_Name %>"><%= bank.Bank_Name %></option>
      <% } %>
    </select>
    <label for="branchname">Branch Name</label>
    <select name="branchname" id="branchname">
      <option value="">Select One Branch …</option>
    </select>
    <div class="container" id="submitbtn">
        <button class="btn" onclick="fireinsertequipinfoevent()">Submit</button>
    </div>
  </form>
</div>

</body>
</html>
