<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Systel Bank Project</title>
    <!--link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" /-->
    <link href="/css/datatable.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/download.js" defer></script>
    <script src="/js/report.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="/js/table.js" defer></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script-->
</head>

<body class="sb-nav-fixed">
    <nav class="topnav">
        <!-- Navbar Brand-->
        <div class="pagetitle">Systel Bank Project</div>
        <!-- Navbar-->
        <a class="active" href="/">Home</a>
        <a href="/API/systel/bankinfo">Bank Info entery</a>
        <a href="/installedequip">installed equipment</a>
        <a href="/API/systel/report">report</a>
        <a href="/API/Systel/updateinstalledequip">update equipment</a>
    </nav>
    <br>
    <select name="reportname" id="reportname">
        <option value="">Select One Report …</option>
        <option value="statusreport">Status Report</option>
        <option value="smdata">smdata</option>
        <option value="bankdata">bankdata</option>
    </select>
    <br>
    <br>
    <div id="showdata"></div>
    <br>
    <div id="test"></div>
</body>

</html>